.div__advert-box {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
}
.advert-img {
    height: 80%;
    width: 80%;
    border: 1px solid white;
}