.div__user-info-card-medium-container {
    border: 10px solid orange;
    background: grey;
    height: auto;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;   
}


.div__user-info-card-info-overlay {
    /* border: 2px solid purple; */
    width: 100%;
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
}
.div__user-info-card-info-overlay > p {
    max-width: inherit;
}

.div__youtube-container {
    display: flex;
    justify-content: center;
    border: 2px solid grey;
}
.div__youtube {
    border-radius: 7px;
    width: 100%;
    border: 7px solid white;
}

@media screen and (max-width: 488px) {
    .div__user-info-card-medium-container {
        margin-left: 0px;
        margin-top: 0px;
        width: 300px;
    }
}