.laptop-svg {
    width: 40px;
    height: 40px;
}

.calendar-svg {
    width: 40px;
    height: 40px;
}

.venue-svg {
    width: 40px;
    height: 40px;
}

.bringer-svg {
    width: 40px;
    height: 40px;
}

.walkins-svg {
    width: 40px;
    height: 40px;
}

.rating-svg {
    width: 40px;
    height: 40px;
}