#landing-page {
    background: linear-gradient(orange, darkorange);
    height: 110vh;
}

.div__landing-page-row {
    padding-top: 5vh;
    width: 100%;
    justify-content: center;
}

#landing-page h3 {
  background: orange;
  color: white;
  padding: 20px;
  transform: skewY(-5deg);
}

.lp__first-section {
  // background: red;
}
.lp__second-section {
  margin-bottom: 20px;
  background: linear-gradient(darkorange, #FF7F50);
  // background: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  height: auto;
  margin-top: 50px;
}

// 3 boxes of What Is This, Is it Free info
.div__each-lp-box {
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lp__second-section img {
  height: 90px;
  width: 90px;
}
.lp__second-section .div__flex-center p {
  color: white;
  padding: 20px;
}

@media screen and (max-width: 500px) {

  // 3 boxes of What Is This, Is it Free info

.div__each-lp-box {
  margin-top: 0;
}
#landing-page .col-sm-4:nth-child(1) {
  // border: 7px solid purple;
  margin-top: 30px;
}


}