@import '../../color';

.nav-container {
    background: rgba(0, 0, 0, 0.6);
}

.nav-ul {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // border: 1px solid red;
}

.nav-option-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(-10deg);
}

a {
    text-decoration: none !important;
}

.nav-option-wrapper a {
    color: white;
}

span.navbar-brand a {
    font-family: monospace;
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 991px) {
    .nav-option-wrapper {
        transform: rotate(0deg);
    }
    
}