.divider {
    height: 2px;
    background: orange;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index: 1000;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}