.div__title-and-value-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}

.div__title-and-value-container h3 {
    color: lightgrey;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.div__title-and-value-container h4 {
    color: rgb(214, 143, 11);
    font-weight: 700;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1000px) {
    .div__title-and-value-container {
        flex-direction: column;
        justify-content: center;
    }
}