
 .simple-trans-main {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
 }

.simple-trans-main > div {
    border: 12px solid orange;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 2px 3px rgba(255,255,255,.5);
    border-radius: 16px;
    cursor: pointer;
    position: absolute;
    width: 80%;
    height: 100%;
    color: #fff;
    font-weight: 800;
    font-size: 10em;
    will-change: transform, opacity;
  }

  .simple-trans-main div img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

  .overlay__left {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, transparent 50%);
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
  }

  .overlay__right {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, transparent 50%);
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
  }

 .carousel-p {
   font-size: 50%;
   z-index: 10000;
   position: absolute;
   width: 80%;
 }

 .clickme-p {
   color: white;
   font-size: 12%;
   z-index: 10000;
   position: absolute;
 }

 .carousel-heading {
  position: absolute;
  z-index: 1;
  left: 200px;
 }

 .tweet-row {
  height: 100%;
  overflow: hidden;
 }