#account-page-container {
    // border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top-20 {
    margin-top: 20px;
}

.horizontal-two-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
    align-content: center;
    align-items: center;
    
}


.tickbox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bg-green {
    background: green;
    border: 1px solid lightgreen;
}
.bg-red {
    background: darkred;
    border: 1px solid red;
}

.horizontal-two-elements p{
    margin-bottom: 0;
    color: black;
}

.horizontal-two-elements .checkbox {
    width: 0px;
}

input {
    width: 100%;
    border-radius: 12px;
    border: 1px solid grey;
}

.email-me-form {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.email-me-form button {
    height: 50px;
    border-radius: 12px;
    background: orange;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 50%;
    border: 3px solid black;
}

.email-me-form button:hover {
    background: darkorange;
}

.act-profile-form {
    // margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.act-profile-form input {
    height: 50px;
    margin-bottom: 5px;
}

.act-profile-form button {
    height: 50px;
    border-radius: 12px;
    background: orange;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 45%;
    border: 3px solid black;
}


.act-profile-form button:hover {
    background: darkorange;
}

.pw-me-form input {
    height: 50px;
    margin-bottom: 5px;
}

.div__acct-dropdown-container {
    // border: 1px solid orange;
    margin-top: 5px;
    margin-bottom: 10px;
    // width: 80%;
}

.select__faveGig {
    width: 80%;
    border-radius: 12px;
    background: white;
    margin-top: 5px;
    height: 40px;
    // margin-left: 20px;
}

.select__faveGig option {
    background: grey;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 100px;
    animation-name: fadeInDropDownOptions;
    animation-duration: 0.4s;
}

@keyframes fadeInDropDownOptions {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 570px) {
    .act-profile-form {
        margin-top: 20px;
    }
    .act-profile-form input {
        height: 50px;
        margin-bottom: 5px;
    }
    .pw-me-form input {
        height: 50px;
        margin-bottom: 5px;
    }
}