.div__responsive-btns-container {

}

.div__responsive-btns-row {
    width: 90%;
}


.center-column {
    display: flex;
    justify-content: center;
}


.btn__active {
    background: #68D368;
    margin-bottom: 10px;
    color: black;
    width: 100%;
    height: 40px;
    
    opacity: 1;
    animation: flashIn 0.5s ease-in;
}


.btn__notactive {
    background: orange;
    margin-bottom: 10px;
    color: white;
    width: 100%;
    height: 40px;
}
.btn__notactive:hover {
    background: darkorange;
}

@keyframes flashIn {
    from {
        border: none;
        background: orange;
    }

    to {
        opacity: 1;
    }
}