@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik');
@import './color';


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#696969, #A8A8A8);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: monospace;
  font-weight: 700;
  text-shadow: 5px 6px 8px black;
  color: white;
}

h3, p {
  font-family: 'Raleway';
  color: $lightgrey;
}

h2, h4 {
  font-family: 'Raleway';
}


@media screen and (max-width: 1120px) {
  p {
    font-size: 12px;
  }
}