@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik');
@import './color';


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#696969, #A8A8A8);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.div__page-container {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.div__flex-row {
  display: flex;
  flex-direction: row;
}

.div__flex-col {
  display: flex;
  flex-direction: column;
}

.div__flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.form__stackable-form{
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  padding: 20px;
}

.btn__orange {
  background: orange;
  color: black;
  border-radius: 12px;
  transform: rotate(-10deg);
  max-width: 190px;
}

h1 {
  font-family: monospace;
  font-weight: 700;
  text-shadow: 5px 6px 8px black;
  color: white;
}

h3, p {
  font-family: 'Raleway';
  color: $lightgrey;
}

h2, h4 {
  font-family: 'Raleway';
}

.h5__tpr-subheading {
  font-family: 'Raleway' !important;
}

.p__tpr-blurb {
  font-family: 'Raleway';
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.grey {
  color: grey !important;
}

.orange {
  color: orange !important;
}


.center {
  text-align: center;
}

.left {
  text-align: start;
}

.padding-on {
  padding: 20px;
}

.padding-off {
  padding: 0;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}


.margin-on {
  margin: 20px !important;
}

.margin-off {
  margin: 0 !important;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.full-width {
  width: 90%;
}


@media screen and (max-width: 1120px) {
  p {
    font-size: 12px;
  }
}