.div__gig-tonight-container {
    width: 100%;
    border: 1px solid white;
    background: orange;
    padding: 20px;
    text-align: center;
}

.div__gig-tonight-container > h4 {
    color: black;
}

.div__gig-tonight-container > p {
    color: white;
}